body {
    background-color: rgb(32, 32, 32);
    scroll-behavior: scroll;
    color: rgb(255, 255, 255);
}

.navbar-nav {
    margin-right: 50px;
}

.navbar ul li {
    margin: 5px 5px;
}

.navbar ul li a {
    text-align: center;
    display: inline-block;
    list-style: none;
    width: 100%;
    margin: 0px 20px;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.bg {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    height: 100vh;
    /* width: 100vw; */
    /* max-width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.navbar>.navbar-nav>li>a:hover,
.navbar>.navbar-nav>li>a:focus {
    box-shadow: 10px;
    border-bottom: 1px solid rgb(255, 255, 255)
}

.bg h1 {
    font-size: 4em;
    font-weight: bold;
}

#about>.bg>h1,
#about>.bg>p {
    color: rgb(32, 32, 32);
    margin-left: 40%;
    text-align: left;
    max-width: 450px;
}

#skills>.bg>h1,
#skills>.bg>ul {
    color: rgb(32, 32, 32);
    margin-left: 40%;
    text-align: left;
    max-width: 450px;
}

.list-group-item {
    background-color: transparent;
    border-bottom: 10px solid rgb(20, 17, 17);
    border-radius: 0;
    color: rgb(32, 32, 32);
}

#contact .bg form {
    margin-bottom: 130px;
}

#contact>.bg>h1 {
    margin-bottom: 40px;
    color: rgb(31, 31, 31);
    text-align: left;
}

#home>.bg {
    background-image: url("home.jpg");
}

#about>.bg {
    background-image: url("about.jpg");
}

#skills>.bg {
    background-image: url("service.jpg");
}

#contact>.bg {
    background-image: url("contact.jpg");
}